.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.country{
    border:3px solid goldenrod;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: aqua;
}
.country img{
    width: 200px;
}